@using MvcKutuphane.Models.Entity
@model List<TBLPersonel>
@{
    ViewBag.Title = "PersonelIndex";
    Layout = "~/Views/Shared/View.cshtml";
}

<h2>Personeller</h2>


<table class="table table-bordered">
    <tr>
        <th>Personel ID</th>
        <th>Personel Adı</th>
        <th>Sil</th>
        <th>Güncelleme</th>
    </tr>


    @foreach (var prs in Model)
    {
        <tr>
            <td>@prs.Id</td>
            <td>@prs.Personel</td>
            <td><a href="/Personel/PersonelSil/@prs.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personel/PersonelGetirIndex/@prs.Id" class="btn btn-success">Güncelle</a></td>
        </tr>

    }

</table>
<a href="~/Personel/PersonelEkleIndex" class="btn btn-primary ">Personel Ekle</a>
